<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{{ url_for('static', filename = 'tom-select.complete.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename = 'tom-select.min.css') }}">
        <script src="{{ url_for('static', filename = 'htmx.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'CheckboxMixed.js') }}" defer></script>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'checkbox-mixed.css') }}">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
        <title>Manage Funding Opportunities</title>
    </head>
    <body>
        <main class="container">
            <!-- form needs these data: 
            * opportunities
            -->
            <a href="{{ url_for('customer_home') }}" class="btn">Back to Customer Home</a>
            <h1>Manage Funding Opportunities</h1>        
            <form action="/manage-opportunity" method="POST">
                <label for="opportunity_name">Opportunity Name:</label><br>
                <select id="opportunity_name"
                        name="opportunity_name"
                        class="select">
                        <option ></option>
                        {% for opportunity in opportunities %} 
                        <option value="{{ opportunity[0] }}">
                            {{ opportunity[0] }}
                        </option>
                    {% endfor %}
                </select>
            </form>
            <div id="opportunity_details"></div>
            <div id="opportunity_attributes" hx-on:clear-attributes-form="this.innerHTML=''"></div>
        </main>


        <script>
            // Check if an instance already exists on the opportunity_name select element and destroy it if it does
            if (document.getElementById('opportunity_name').tomselect) {
                document.getElementById('opportunity_name').tomselect.destroy();
            }
            new TomSelect("#opportunity_name", {
                maxItems:1,
                plugins: ['clear_button'],
                persist: false,
                create: true,
                addPrecedence: true, // Allows new entries to be added to the top of the list
                refreshThrottle: 0, // Forces instant dropdown updates as you type
                placeholder: "Enter the opportunity title",                
                selectOnTab: true, // Allows new entries to be added to the top of the list
                onChange: function(value) {
                    if (value) {
                        htmx.ajax('GET', '/opportunity-details', {
                            target: '#opportunity_details',
                            values: { opportunity_name: value }
                        });
                    } else {
                        document.getElementById('opportunity_details').innerHTML = '';
                    }
                    document.getElementById('opportunity_attributes').innerHTML = '';}
            });
            htmx.config.logAll = true; // Enable logging for debugging
        </script>
    </body>
</html>